body {
    font-family: 'Merriweather', serif;
    background-color: #f4e9dc;
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 0;
}
h1 {
    font-size: 24px;
    color: #5C4033;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
}
button {
    background-color: #8C8074;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #665544;
}
